* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
    margin: 60px auto;
    width: 60%;
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;  
}

nav ul, footer ul {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
}
h2 { 
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family: 'Lato', sans-serif;
    margin: 20px auto 80px; 
    font-size: 1.5em;
    line-height: 1.2em;
}

ul.posts li {
    font-family: 'Lato', sans-serif;
    list-style: none;
}
.imgWrap {
  position: relative;
  height: 200px;
  width: 200px;
}

.imgDescription {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  opacity: 0;
  
  -webkit-transition: opacity 0.4s;
}

.imgWrap:hover .imgDescription {
  opacity: 1;
}

.imgWrap img {
  opacity: 1;
  
  -webkit-transition: opacity 0.4s;
}

.imgWrap:hover img {
  opacity: 0.5;
}

/* ---- grid ---- */

.grid {
  background: #ffffff;
  margin: 0 0 40px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item img {
  display: block;
  max-width: 100%;
  width: 200px;
  float: left;
}
