---
layout: default
title: Katie Amazing
---
<div class="blurb">
	<h1>Hello world, I'm Katie!</h1>
	<p>I'm working on becoming a programmer, and writing about my journey.</p>
</div><!-- /.blurb -->

	<ul class="posts">
	    {% for post in site.posts %}
	      <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endfor %}
	    
	    {% for post in site.posts %}
	      <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endfor %}
	
	</ul>
