---
layout: default
title: Katie Amazing
---
<div class="blurb">
	<h1>Hello world, I'm Katie!</h1>
	<p>I'm working on becoming a programmer, and writing about my journey.</p>
</div><!-- /.blurb -->

<figure class="month">
 <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="headerimg" /> -->
    <h2>February</h2>
    <h4>Reading: Custom Variable from Posts?</h4>
    <blockquote>	
    <ul class="posts">  
	{% for post in site.posts %}
	    {% assign foo = post.date | date: '%B' %}
	    {% if foo contains 'February' %}
		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
	{% endfor %}
	</ul></blockquote>
  </figcaption>
</figure>

<figure class="month">
 <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="headerimg" /> -->
    <h2>January</h2>
    <h4>Reading: Custom Variable from Posts?</h4>
    <blockquote>	
    <ul class="posts">  
	{% for post in site.posts %}
	    {% assign foo = post.date | date: '%B' %}
	    {% if foo contains 'January' %}
 		<li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	    {% endif %}
	{% endfor %}	
	</ul></blockquote>
  </figcaption>
</figure>
