

/* ---- grid ---- */

.grid {
  background: #ffffff;
  margin: 0 0 40px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item img {
  display: block;
  max-width: 100%;
  width: 200px;
  float: left;
}
