<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			{% feed_meta %}
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:katie@katieamazing.com">email</a></li>
	        		<li><a href="https://github.com/katieamazing">github.com/katieamazing</a></li>
	        		<li><a href="https://twitter.com/ka_amazing">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
