html {
  font-size: 10px;
}

body {
  background:#ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
}

p {
  margin: 0 0 3rem 0;
}

.static_circle {
  display: block;
  margin: auto;
  width: 600px;
}

.words {
  max-width:500px;
  margin:50px auto;
  background:white;
  border-radius:5px;
  box-shadow:10px 10px 0 rgba(0,0,0,0.1);
  padding:1rem 2rem 1rem 5rem;
  background-size: 100% 3rem;
  position: relative;
  line-height:3rem;
}
